*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

 header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    background-color: #3347B0;
}

.logo h1{
    color: white;
    font-family: "Roboto";
    size: 24px;
   


}
.logo img{
    width: 60px;
    height: 75px;
    
}

.logo{
    display: flex;
    height: 75px;
    width: 146px;
    align-items: center;
    gap: 11px;
    
}


.sair{
   display: flex;
   margin-left: auto;
   align-items: center;
   gap: 11px;
   
}
.sair h1{
    font-family: "Roboto";
    color: white;
    
}
.voltar{
    display : none
}


main{
    width: 100%;
    height: 482px;
    background-color: antiquewhite;
    gap: 20px;
    align-items: center;
    display: flex;
}



.mensagem{
    width: 471px;
    height: 156px;
    display: flex;
    
   
    
}




.tela_2{
    display: none;
}

.tela3{
    display: none;
}

.cursos button{
    display: flex;
    margin-left: auto;
    width: 400px;
    height: 200px;
    border: 1px;
    background-color: aqua;
    
 
}
.cursos {
 background-color: black;

}
.cursos{
   gap: 23px;
}